<section class="w-screen">
    <h3>Forms</h3>
    <hr class="my-8">
    <div class="children:mr-4 flex items-center">
        <input type="text" value="Basic Input" class="form-input border p-4 rounded-md">
        <label for="advance" class="relative flex items-center elevation-2" style="width: 200px;">
            <input type="text" value="Basic Input" class="border p-2 pr-6 rounded-md w-full">
            <button class="absolute right-0 flex items-center justify-center w-8 h-8 p-1 rounded-full">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            </button>
        </label>
        <label for="check">
            <input type="checkbox" name="check" id="check">
        </label>
        <label for="radio">
            <input type="radio" name="radio" id="radio-1">
            <input type="radio" name="radio" id="radio-2">
            <input type="radio" name="radio" id="radio-3">
        </label>
    </div>
</section>