<section class="w-screen">
    <h3>Typhography</h3>
    <hr class="my-8">
    <div class="children:mr-4 flex items-center">
        <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h4>
    <h5>H5</h5>
    <h6>H6</h6>
    </div>
</section>